# Ollama配置：
####
###   本配置文件已经弃用，相关配置项已迁移到 config.py 中。
###   请直接在 config.py 中修改相关配置项。 修改后删除本文件(即早期部署时默认生成的：.env)以避免混淆。
####
# 使用的Ollama模型名称
OLLAMA_MODEL=phi3:mini

# Ollama API地址
OLLAMA_API_URL=http://127.0.0.1:11434/api/generate

# 服务器配置
# 服务器监听地址，0.0.0.0表示监听所有接口
SERVER_HOST=0.0.0.0

# 服务器监听端口
SERVER_PORT=8501
